<div class="row">
  <div class="col-md-12">
    <div id="global-messages">
      <% @messages.each do |message| %>
        <% if message.present? && message["body"].present? %>
        <div class="alert alert-info" role="alert">
          <%= message["body"].html_safe %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
