<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <div class="mt-5">
    <ul class="list-unstyled">
      <li>Log in with:</li>
      <li><%= button_to "Staff SOL", user_staff_sol_omniauth_authorize_path, class: "btn btn-link p-0 text-capitalize", data: { turbo: false } %></li>
      <li><%= button_to "Staff SPL", user_staff_spl_omniauth_authorize_path, class: "btn btn-link p-0 text-capitalize", data: { turbo: false } %></li>
      <li><%= button_to "Staff Shared", user_staff_shared_omniauth_authorize_path, class: "btn btn-link p-0 text-capitalize", data: { turbo: false } %></li>
    </ul>
  </div>
<% end %>
