<ul>
<% if current_user %>
  <li>
    <%= link_to t("logout"), destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
  </li>
  <% unless current_user.to_s.blank? %>
    <li>
      <%= link_to current_user, root_path %>
    </li>
  <% end %>
<% else %>
  <li>
    <%= link_to t("login"), new_user_session_path %>
  </li>
<% end %>
</ul>
